<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Login and Registration Form in HTML | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title signup">
            Signup Form
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="/singUp-member" th:object="${member}" method="post">
                <div class="field">
                    <input type="text" placeholder="User Name" required th:field="*{userName}" />
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" required th:field="*{hashedPassword}" />
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
